<%# Display all the cars with their brand and model %>
<% @cars.each do |car| %>
  <h2><%= car.brand %></h2>
  <h3><%= car.model %></h3>
  <p><%= car.created_at.strftime("%a %b %e at %l%M %p") %></p>
  <div><%= car.owner.nickname %></div>
  <%= link_to "More details", car_path(car) %>
<% end %>
